<a href="https://colab.research.google.com/github/avs20/SioLabsPython0/blob/main/5_Sequences_Strings_and_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lists in Python 

List is a sequence of python objects. 

What objects we have seen 

* int 
* float 
* string 
* boolean

### How to create a list 

There are many ways simplest is to use `[]`

```
mylist = [10, 20, 30]
print(mylist)
```

In [2]:
mylist = [ 10, 20, 30 ]

print(mylist)

[10, 20, 30]

In [3]:
mylist2 = [10, 20, 10.5]
print(mylist2)

[10, 20, 10.5]

In [4]:
mylist3 = [ 10, 20.5 , 'python']
print(mylist3)

[10, 20.5, 'python']

In [5]:
mylist4 = [ 10, 20.5 , 'python', True]
print(mylist4)

[10, 20.5, 'python', True]

Empty List 

```
mylist = []
```

In [8]:
mylist5 = []
print(mylist5)

[]

We can use for loop to go over each item in list

In [10]:
fruits = ['banana', 'apple', 'orange', 'kiwi', 'mango']

for fruit in fruits:
  print(fruit)
  print(fruit.upper())

banana
BANANA
apple
APPLE
orange
ORANGE
kiwi
KIWI
mango
MANGO

In [11]:
fruits = [10, 10.5, 'orange', True]

for fruit in fruits:
  print(fruit)
  print(type(fruit))

10
<class 'int'>
10.5
<class 'float'>
orange
<class 'str'>
True
<class 'bool'>

In [12]:
mylist7 = [10, 10.5, 'orange', True]

print(mylist7[0])

10

In [13]:
print(mylist7[3])

True

In [14]:
mylist8 = [10, 10.5, 'orange', True]

print(mylist8[:])

[10, 10.5, 'orange', True]

In [15]:
mylist8 = [10, 10.5, 'orange', True]

print(mylist8[0:2])

[10, 10.5]

In [16]:
mylist8 = [10, 10.5, 'orange', True]

print(mylist8[0:])

[10, 10.5, 'orange', True]

In [17]:
mylist8 = [10, 10.5, 'orange', True]

print(mylist8[2:])

['orange', True]

Lists are mutable → we can change items in a list unlike string

In [19]:
mylist10 = [10, 10.5, 'orange', True]

print(mylist10)
print(id(mylist10))


mylist10[2] = 'mango'

print(id(mylist10))

[10, 10.5, 'orange', True]
140039407832904
140039407832904

Mathematical operator on list 
-----

1. `+` operator → concatenates 2 list 
2. `*` operator → replicates the list n times

In [20]:
print('ashu' + 'tosh')

ashutosh

In [21]:
mylist1 = [10,20,30]
mylist2 = ['banana', 'mango']

mylist3 = mylist1 + mylist2
print(mylist3)

[10, 20, 30, 'banana', 'mango']

In [22]:
'ashu' * 3

'ashuashuashu'

In [25]:
mylist1 = [10,20,30]

mylist2 = mylist1 * 3
print(mylist2)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

*Slicing* in Lists 

Same as string

#### Slicing with stepping 


[startIdx : endIdx : step]

banana

In [26]:
name = "ashutosh"

name[0:8]

'ashutosh'

In [27]:
name[0:8:1]

'ashutosh'

In [28]:
name[0:8:2]

'ahts'

In [29]:
name[0:8:4]

'at'

In [30]:
name[0:8:-1]

''

In [31]:
name = 'ashutosh'

name[-1]

'h'

In [32]:
print(name[4])
print(name[-4])

t
t

In [33]:
print(name[0])
print(name[-8])

a
a

In [34]:
print(name[2:5])
print(name[-6:-3])

hut
hut

In [36]:
name[7:0:-1]

'hsotuhs'

In [37]:
name[7:0]

''

In [38]:
name[::-1]

'hsotuhsa'

In [39]:
mylist7[::-1]

[True, 'orange', 10.5, 10]

#### Reversing

List Methods :


1. append()
2. extend()
3. pop(index)
4. pop()
5. del[index]
6. remove(item)

In [40]:
mylist11 = ['c', 'c++','python', 'java', 'sql','c#', 'ruby']
print(len(mylist11))

7

In [41]:
mylist11.append('javascript')
print(mylist11)

['c', 'c++', 'python', 'java', 'sql', 'c#', 'ruby', 'javascript']

In [43]:
# extend - adds the items of new list 

tool_list = ['jupyter', 'colab', 'idle', 'pycharm']

mylist11.append(tool_list)
print(mylist11)

mylist11.remove(tool_list)

['c', 'c++', 'python', 'java', 'sql', 'c#', 'ruby', 'javascript', ['jupyter', 'colab', 'idle', 'pycharm'], ['jupyter', 'colab', 'idle', 'pycharm']]

In [47]:
print(mylist11)

mylist11.extend(tool_list)

print(mylist11)

['c', 'c++', 'python', 'java', 'sql', 'c#', 'ruby', 'javascript']
['c', 'c++', 'python', 'java', 'sql', 'c#', 'ruby', 'javascript', 'jupyter', 'colab', 'idle', 'pycharm']

In [49]:
# for removing things from the list 

# remove the item at specific position 
deleted_item = mylist11.pop(2)
print(deleted_item)
print(mylist11)
'''
pop()
del[index]
remove(item)
'''

java
['c', 'c++', 'sql', 'c#', 'ruby', 'javascript', 'jupyter', 'colab', 'idle', 'pycharm']

'\npop()\ndel[index]\nremove(item)\n'

In [53]:
#deletes the last item of list

deleted_item = mylist11.pop()
print(deleted_item)
print(mylist11)

colab
['c', 'c++', 'sql', 'c#', 'ruby', 'jupyter']

In [52]:
# remove helps us in removing by value

mylist11.remove('javascript')
print(mylist11)

['c', 'c++', 'sql', 'c#', 'ruby', 'jupyter', 'colab']

Functions on list 
------

1. len()
2. max()
3. min()
4. sum()
5. sort()

In [56]:
print(mylist11)
len(mylist11)

['c', 'c++', 'sql', 'c#', 'ruby', 'jupyter']

6

In [57]:
num_list = [24,12, 31, 16, 25, 9, 4]
max(num_list)

31

In [58]:
num_list = [24,12, 31, 16, 25, 9, 4]
min(num_list)

4

In [65]:
num_list = [24,12, 31, 16, 25, 9, 4]
sum(num_list)

AttributeError: ignored

In [60]:
sum(num_list) / len(num_list)

17.285714285714285

In [64]:
num_list = [24,12, 31, 16, 25, 9, 4]
num_list.sort()
print(num_list)

[4, 9, 12, 16, 24, 25, 31]

# Tuples

Tuples are basically lists that can never be changed.

In [1]:
mytuple = 10,20,30,40,50 

print(mytuple)

(10, 20, 30, 40, 50)

In [2]:
type(mytuple)

tuple

In [3]:
mytuple2 = (10,20,30,40,50)

In [4]:
mytuple

(10, 20, 30, 40, 50)

In [5]:
mytuple3 = 10,

In [6]:
print(mytuple3)

(10,)

In [7]:
mytuple2 = (10,20,30,40,50)

print(mytuple[0])
print(mytuple[-1])
print(mytuple[0:2])

10
50
(10, 20)

In [8]:
z

TypeError: 'tuple' object does not support item assignment

In [9]:
mytuple1 = (10,20,30)
mytuple2 = (10,20,34)

mytuple1 + mytuple2

(10, 20, 30, 10, 20, 34)

In [10]:
mytuple * 3

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [11]:
mytuple1 = (10,20,30)
mytuple2 = (10,20,34)

print(mytuple1 < mytuple2)

True

In [12]:
mytuple1 = (10,18,30)
mytuple2 = (10,20,100000)

print(mytuple1 < mytuple2)

True

In [13]:
mytuple1 = (10,18,30)
mytuple2 = (10,"ashu",100000)

print(mytuple1 < mytuple2)

TypeError: '<' not supported between instances of 'int' and 'str'

# Dictionaries

In [15]:
# how to make a dictionary 
# dict()

# creates empty dictionary
mydict = dict()

print(mydict)
print(type(mydict))

{}
<class 'dict'>

In [16]:
# how to add value in dictionary
'''
mylist = ['apple']
'''

mydict = { 'breakfast' : 'banana'   }
print(mydict)

{'breakfast': 'banana'}

In [17]:
mydict['lunch'] = 'mango'
print(mydict)

{'breakfast': 'banana', 'lunch': 'mango'}

In [18]:
mydict['snacks'] = 'apple'
mydict['dinner'] = 'orange'

print(mydict)

{'breakfast': 'banana', 'lunch': 'mango', 'snacks': 'apple', 'dinner': 'orange'}

In [19]:
print(mydict['snacks'])

apple

In [20]:
print(mydict['breakfast'])

banana

In [21]:
mydict['dinner'] = 'guava'
print(mydict)

{'breakfast': 'banana', 'lunch': 'mango', 'snacks': 'apple', 'dinner': 'guava'}

In [22]:
del mydict['snacks']

In [23]:
del mydict['snacks']

KeyError: 'snacks'

In [24]:
mydict.pop('breakfast')
print(mydict)

{'lunch': 'mango', 'dinner': 'guava'}

In [39]:
# how to use in for loop 

'''
for item in mylist:
  print(item)
'''

for key in mydict:
  print(key,':', mydict[key])

H : 1
i : 2
g : 1
h : 1
l : 2
a : 2
n : 1
d : 1
  : 1
Q : 1
u : 1
t : 1
y : 1

lunch : mango
dinner : guava
dictionaries are used in counting

if the key is in dictionary or not

if key in mydict:

In [26]:
print(mydict)

{'lunch': 'mango', 'dinner': 'guava'}

In [27]:
if 'snacks' in mydict:
    print('snacks is presnet in dict')
else:
    print('snacks is NOT PRESENT in dict')

snacks is NOT PRESENT in dict

In [28]:
if 'lunch' in mydict:
    print('lunch is presnet in dict')
else:
    print('lunch is NOT PRESENT in dict')

lunch is presnet in dict

In [29]:
'lunch' in mydict

True

In [30]:
'snacks' in mydict

False

Find the frequency of each character in the string

Highland Quality

In [33]:
mystr = 'Highland Quality'

mydict = {}

for ch in mystr:
    if ch not in mydict:
        mydict[ch] = 1
    else:
        mydict[ch] = mydict[ch] + 1

print(mydict)

{'H': 1, 'i': 2, 'g': 1, 'h': 1, 'l': 2, 'a': 2, 'n': 1, 'd': 1, ' ': 1, 'Q': 1, 'u': 1, 't': 1, 'y': 1}

# Python Sets

In [34]:
s = set([15,1,2,3,4,3,1,1])
print(s)

{1, 2, 3, 4, 15}

In [35]:
if 14 in s:
    print("present")
else:
    print("not present")

not present

In [36]:
s2 = {5,6,11,1,1}
print(s2)

{1, 11, 5, 6}

In [37]:
s2.add(50)
print(s2)

{1, 5, 6, 11, 50}

In [38]:
s.clear()